.btnswitch {
  background-color: rgb(128, 128, 185);
  border-radius: 5px;
  padding: 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.texto-login {
  font-size: 14px;
  color: slategray;
}
